<form action="">
  <h3 class="form_header">CONTACT US</h3>

  <div class="form-control">
    <input class="area" type="text" placeholder=" Name" />
  </div>
  <div class="form-control">
    <input class="area" type="text" placeholder="Phone No." />
  </div>
  <div class="form-control">
    <input class="area" type="text" placeholder="Location" />
  </div>
  <div class="form-control">
    <textarea cols="30" rows="10">Describe your order here.</textarea>
  </div>
  <button class="btn area" type="submit">COOK</button>
</form>
